html {
  --primary-color-white: #f9f9f9;
  --primary-color-blue: #5b84c4;
  --primary-color-orange: #fa7055;
  --color-black: black;
  --font: "Work Sans", sans-serif;
}

main {
  max-width: 3456px;
  margin-inline: 8rem;
  margin-top: 6rem;
}

.main_bg {
  background-color: rgba(192, 192, 192, 0.2);
  color: #e8dddb;
  margin-inline: 15rem;
  border-radius: 20px;
}

@media (max-width: 480px) {
  .main_bg {
    background-color: rgba(192, 192, 192, 0.2);
    color: #e8dddb;
    margin-inline: 0;
  }
}

/* #1e2857; */

.forside {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

body {
  background-color: #5b84c4;
  padding-bottom: 6rem;
}

/* FONT */
p {
  color: var(--primary-color-white);
  font-family: "Work Sans", sans-serif;
  font-size: 1.2rem;
}

h1 {
  font-family: "Work Sans", sans-serif;
  color: var(--primary-color-white);
  padding-top: 7rem;
}

h2 {
  font-family: "Work Sans", sans-serif;
  color: var(--primary-color-white);
}

h3 {
  font-family: "Work Sans", sans-serif;
  color: var(--primary-color-white);
}

a {
  color: var(--primary-color-orange);
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 1rem;
}

a {
  opacity: 1;
}

a:hover {
  opacity: 0.8;
  border-color: #fa7055;
}

img {
  width: 100%;
  height: auto;
}

/* Header/menu */

header {
  top: 0;
  width: 100%;
  z-index: 100;
  font-family: "Work Sans", sans-serif;
  background-color: var(--primary-color-blue);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 7%;
  padding-block: 1rem;
  width: 12%;
  height: auto;
}

.nav_list {
  list-style-type: none;
}

.nav_list,
li {
  display: inline-block;
  padding: 1.2rem 1rem;
}

.navbar a {
  text-decoration: none;
  color: var(--primary-color-white);
  font-family: var(--primary-font);
  font-size: 1rem;
}

.navbar a:hover {
  color: #fa7055;
}

.menu {
  display: none;
}

.menu_burger {
  width: 20px;
  height: 2px;
  margin-bottom: 5px;
  background-color: black;
}

.icons {
  width: 7%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media all and (max-width: 480px) {
  .navbar {
    flex-direction: column;
    position: relative;
    display: block;
  }
  .icons {
    display: none;
  }

  .logo {
    width: 30%;
    padding: 3%;
  }

  .menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .nav_list,
  li {
    display: block;
    border-bottom: 1px solid black;
  }

  .nav_list {
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 0%;
    margin: 0%;
    display: none;
  }
  .active {
    display: block;
  }
}

@media (max-width: 480px) {
  main {
    margin: 0;
    margin-top: 2rem;
  }
}
