.h1_forside {
  font-size: 4rem;
  text-align: center;
  padding-top: 8rem;
}

.h1_forside {
  animation-duration: 2s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

.wave {
  padding-top: 14rem;
  display: block;
}

@media (max-width: 700px) {
  .wave {
    padding-top: 19.5rem;
    display: block;
  }
}

/* PORTFOLIO */

.grid_portfolio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 11rem;
  gap: 10px;
  padding-inline: 10rem;
}

.col_portfolio {
  display: grid;
  place-content: center;
  border: lightgray;
  border-style: solid;
  border-radius: 25px;
  width: 300px;
  height: 300px;
  background-color: white;
}

.txt_box {
  color: BLACK;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  padding-top: 1.5rem;
}

.col_portfolio img {
  display: grid;
  background-size: cover;
  height: auto;
  width: 70%;
  place-content: center;
  padding-left: 3rem;
}

/* MEDIA PORT MOBIL */

/* On screens that are 700px wide or less, make the columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
  .grid_portfolio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin-top: 5rem;
    gap: 10px;
    padding-inline: 0;
    padding-left: 7rem;
  }
}

@media (max-width: 550px) {
  .grid_portfolio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin-top: 5rem;
    gap: 10px;
    padding-inline: 0;
    padding-left: 2rem;
  }
}

.col_portfolio {
  opacity: 1;
}

.col_portfolio:hover {
  opacity: 0.8;
  border-color: #fa7055;
}

.pil_link {
  width: 10%;
  padding-left: 35rem;
}

.pil_link {
  opacity: 1;
}

.pil_link:hover {
  opacity: 0.8;
}

/* ANIMATION */

.grid_animation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 5rem;
}

.col_ani_txt {
  padding-bottom: 4rem;
  order: -1;
  padding-right: 8rem;
  padding-left: 3rem;
  order: -1;
}

.col_ani_img {
  width: 80%;
  height: auto;
  padding-right: 3rem;
  padding-top: 7rem;
  padding-bottom: 3rem;
}

.grid_animation2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 5rem;
}

.col_ani_txt2 {
  padding-left: 3rem;
}

.col_ani_img2 {
  width: 95%;
}

/* ANIMATION MOBIL */

@media (max-width: 1200px) {
  .grid_animation {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    margin-bottom: 5rem;
  }

  .col_ani_img {
    width: 100%;
    height: auto;
  }
  .col_ani_txt {
    padding-bottom: 4rem;
    order: -1;
    padding-right: 2rem;
  }
}

/* WEB */
.grid_col_img {
  width: 80%;
  height: auto;
  padding-top: 4rem;
}

.grid_web {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid_web_txt {
  padding-right: 3rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
}

.h1_web {
  padding-left: 3rem;
}

/* WEB MOBIL */
@media (max-width: 1200px) {
  .grid_col_img {
    padding-inline: 2rem;
    width: 90%;
    height: auto;
  }

  .grid_web {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid_web_txt {
    padding-inline: 3rem;
  }

  .h1_web {
    padding-left: 1rem;
    text-align: center;
  }
}

/* HOVER EFFEKT */

.pil_link_web {
  width: 7%;
  padding-left: 9rem;
}

.pil_link_web {
  opacity: 1;
}

.pil_link_web:hover {
  opacity: 0.8;
}

/* UX */

.grid_ux {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.col_ux_txt {
  border-radius: 7%;
  padding-bottom: 4rem;
  padding-right: 8rem;
  padding-left: 3rem;
}

.col_ux_img {
  width: 80%;
  padding-block: 3rem;
  padding-top: 3rem;
}

.ux_h1 {
  padding-bottom: 3rem;
  padding-top: 7rem;
  padding-left: 3rem;
}

.ux_pitch h2 {
  text-align: center;
}

.pitch_h2 {
  padding-left: 3rem;
}

.ux_pitch {
  display: grid;
  padding-right: 7rem;
  padding-bottom: 4rem;
  padding-left: 3rem;
}

/* UX MOBIL */

@media (max-width: 1200px) {
  .grid_ux {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .col_ux_txt {
    border-radius: 7%;
    padding-bottom: 1rem;
    padding-inline: 2rem;
  }

  .col_ux_img {
    width: 100%;
  }

  .ux_pitch {
    display: grid;
    padding-inline: 2rem;
    padding-bottom: 4rem;
  }

  .ux_h1 {
    padding-bottom: 0;
    padding-left: 2rem;
    padding-top: 7rem;
  }
}

/* INDHOLD */

.grid_indhold {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-bottom: 3rem;
}

video {
  width: 70%;
  height: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.indhold_col_txt {
  padding-right: 5rem;
  padding-left: 3rem;
}

.intro_indhold {
  display: grid;
  padding-right: 20rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
}

.h1_indhold {
  padding-left: 3rem;
}

/* INDHOLD MOBIL */

@media (max-width: 1200px) {
  .intro_indhold {
    padding-bottom: 3rem;
    padding-inline: 1.5rem;
  }

  video {
    width: 100%;
    height: auto;
  }

  .indhold_col_txt {
    padding-inline: 0rem;
  }

  .grid_indhold {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-inline: 1.2rem;
  }

  .h1_indhold {
    padding-top: 2rem;
    padding-left: 2rem;
  }
}

/* OM MIG */

.grid_ommig {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 5rem;
  padding-block: 6rem;
}

.ommig_col_img {
  width: 70%;
  padding-inline: 4rem;
  order: -1;
}

.ommig_col_txt {
  padding: 3rem;
}

.om_mig_cv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6rem;
  font-family: var(--primary-font);
}

.border_line {
  border-style: none;
  border-radius: 25px;
  margin-inline: 13rem;
  background-color: white;
  margin-top: 8rem;
  box-shadow: 5px 7px 16px 4px #000000;
}

li p {
  display: grid;
}

.cv_txt p {
  color: black;
}

.ommig_col_txt p {
  color: black;
}

.ommig_col_txt h1 {
  color: black;
}

.cv_col p {
  color: black;
}

.cv_col h2 {
  color: black;
}

.cv_col h3 {
  color: var(--color-black);
}

/* OM MIG MOBIL */
@media (max-width: 1400px) {
  .grid_ommig {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding-block: 0;
  }

  .om_mig_cv {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
    font-family: var(--primary-font);
  }

  .border_line {
    border-style: none;
    border-radius: 25px;
    margin-inline: 0;
    background-color: white;
    margin-top: 8rem;
    box-shadow: 5px 7px 16px 4px #000000;
  }
}

.ommig_col_txt {
  padding: 1rem;
}

.ommig_col_img {
  width: 100%;
  padding: 0;
  padding-top: 7rem;
}

.cv_col {
  padding-bottom: 1rem;
}

/* SITE */
.col_img_grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-bottom: 10rem;
  gap: 10px;
  width: 100%;
}

.img_1 {
  grid-column: 2 / -4;
  grid-row: 2 / 3;
}

.img_2 {
  grid-column: 4 / -2;
  grid-row: 2 / 3;
}

.img_3 {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  padding-top: 7rem;
}

.img_4 {
  grid-column: 4 / 6;
  grid-row: 1 / 3;
  padding-top: 7rem;
}

.h1_port {
  padding-left: 12rem;
  padding-top: 7rem;
}

/* PHOTO GRID SITE */

@media (max-width: 1200px) {
  .col_img_grid {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 10rem;
    gap: 20px;
    padding-inline: 0;
  }

  .img_1 {
    all: unset;
  }

  .img_2 {
    all: unset;
  }

  .img_3 {
    all: unset;
  }

  .img_4 {
    all: unset;
  }

  .h1_port {
    padding-left: 0;
    padding-top: 7rem;
  }
}

@media (max-width: 900px) {
  .col_img_grid {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 10rem;
    gap: 20px;
    padding-inline: 0;
  }

  .img_1 {
    all: unset;
  }

  .img_2 {
    all: unset;
  }

  .img_3 {
    all: unset;
  }

  .img_4 {
    all: unset;
  }
}
